<main>
  <%= link_to '&larr; Back to all books'.html_safe, books_path, data: { turbo_frame: '_top' } %>

  <%= render partial: "books/shared/form", locals: { book: local_assigns[:book], authors: local_assigns[:authors], errors: local_assigns[:errors], book_shelves: local_assigns[:book_shelves] } %>
</main>
